.container {

    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;

    &:hover .container__image:not(:hover) {
     
        box-shadow: none ;
        
    }

    &__image {
        width: 380px;
        height: 214px;
        box-shadow: 6px 6px 30px 0px #393836 ;
        cursor: pointer;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:hover {
            box-shadow: 6px 6px 15px 0px #361702  ;
        }
    }

    &__error {
        color: #7A200B;
        text-transform: uppercase;
        font-style: 20px;
        line-height: 24px;

    }

}